<%- include('../base/header.ejs') %>

<!-- single page -->
<div class="row my-2">
    <% if (single_post) { %>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <!-- <strong class="d-inline-block mb-2 text-success-emphasis"><%= single_post.createdBy.Name %></strong> -->
                        <h3 class="mb-0">
                            <%= single_post.Title %>
                        </h3>
                        <div class="mb-1 text-body-secondary">Nov 11</div>
                        <!-- Add a data attribute to store the full description -->
                        <p class="mb-auto short_desc" data-description="<%= single_post.Description %>">
                            <!-- This will be replaced with 10 words using JavaScript -->
                        </p>
                        <!-- <a href="/post_detail_page/<%= single_post._id %>" class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                          
                        </a> -->
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="../uploads/<%= single_post.Image %>" alt="<%= single_post.title %> image" style="width: 200px; height: auto;">
                    </div>
                </div>
            </div>
      
    <% } else { %>
        <p>No posts available.</p>
    <% } %>
</div>



<%- include('../base/footer.ejs') %>